:root {
    --dark-tone: #006185;
    --mid-tone: #2b7a9b;
    --light-tone: #b1dbe8;
    --white: #ffffff;

    --filter-dark-tone: brightness(0) saturate(100%) invert(23%) sepia(91%) saturate(1246%) hue-rotate(167deg) brightness(99%) contrast(107%);
    --filter-mid-tone: brightness(0) saturate(100%) invert(37%) sepia(92%) saturate(385%) hue-rotate(152deg) brightness(93%) contrast(84%);
    --filter-light-tone: brightness(0) saturate(100%) invert(86%) sepia(31%) saturate(281%) hue-rotate(159deg) brightness(94%) contrast(93%);
    --filter-white: invert(1);
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Electrum-Exp;
    font-size: 16px;
    color: #000;
    background-color: var(--light-tone);
}
iframe#appFrame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 1;
}
#headerBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 16px 0px;
    background-color: var(--dark-tone);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 6px solid var(--mid-tone);
    z-index: 3;
}
#headerBar .title {
    font-size: 2.5em;
    font-weight: bolder;
    filter: drop-shadow(3px 3px 0 var(--mid-tone));
}
#headerBarSpacer { height: 95px; width: 100%; }
#navBarSpacer { height: 85px; width: 100%; }
#navBar {
    position: fixed;
    bottom: 12px;
    left: 0;
    margin-left: 50%;
    width: calc(100% - 70px);
    transform: translateX(-50%);
    height: 60px;
    overflow: hidden;
    background-color: var(--light-tone);
    border: 6px solid var(--mid-tone);
    display: flex;
    border-radius: 70px;
    z-index: 3;
}
#navBar .navBtn {
    flex: 1;
    padding: 5px;
    cursor: pointer;
    position: relative;
}
#navBar .navBtn.active {
    background-color: var(--dark-tone);
}
#navBar .navBtn .navImg {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    filter: var(--filter-mid-tone);
}
#navBar .navBtn.active .navImg {
    filter: var(--filter-light-tone);
}
#navbarGrad {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to top, var(--light-tone), transparent);
    z-index: 2;
}
/* End Navbar */


.centerBogBoxesContainer {
    position: relative;
    width: calc(100% - 60px);
    margin: 0px 30px;
    max-width: 500px;
    margin: auto;
}
.centerBogBox {
    background-color: var(--white);
    border-radius: 20px;
    border: 7px solid var(--dark-tone);
    overflow: hidden;
}
.tileBottom {
    background: linear-gradient(to top, var(--white),transparent);
    color: var(--mid-tone);
    position: relative;
    width: 100%;
    vertical-align: bottom;
}
.tileBottom span {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}
.dialPopupBox .dial-container .dial {
    border: 7px solid var(--dark-tone);
}
.inputBubble {
    border-radius: 20px;
    border: 2px solid var(--dark-tone);
    color: var(--mid-tone);
    padding: 5px 10px;
    text-align: center;
}