:root {
    --dark-tone: #006185;
    --mid-tone: #2b7a9b;
    --light-tone: #b1dbe8;
    --highlight-tone: #5dc8e9;
    --very-light-tone: #e5f6fc;
    --white: #ffffff;

    --filter-dark-tone: brightness(0) saturate(100%) invert(23%) sepia(91%) saturate(1246%) hue-rotate(167deg) brightness(99%) contrast(107%);
    --filter-mid-tone: brightness(0) saturate(100%) invert(37%) sepia(92%) saturate(385%) hue-rotate(152deg) brightness(93%) contrast(84%);
    --filter-light-tone: brightness(0) saturate(100%) invert(86%) sepia(31%) saturate(281%) hue-rotate(159deg) brightness(94%) contrast(93%);
    --filter-white: invert(1);
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Electrum-Exp;
    font-size: 16px;
    color: #000;
    background-color: var(--light-tone);
    overscroll-behavior: none;
}
iframe.appFrame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 1;
}
#headerBar {
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0px;
    background-color: var(--dark-tone);
    color: white;
    align-items: center;
    border-bottom: 6px solid var(--mid-tone);
    z-index: 3;
}
#headerBar .title {
    position: relative;
    left: 50%;
    width: fit-content;
    margin-top: 10px;
    transform: translateX(-50%);
    font-size: 2.5em;
    font-weight: bolder;
    cursor: pointer;
    filter: drop-shadow(3px 3px 0 var(--mid-tone));
    transition: all 0.3s ease;
}
#headerBar .subTitle {
    pointer-events: none;
    opacity: 0;
    position: relative;
    left: 50%;
    width: 100%;
    text-align: center;
    margin-top: 5px;
    transform: translateX(-50%);
    font-size: 1.5em;
    font-weight: bolder;
    cursor: pointer;
    filter: drop-shadow(3px 3px 0 var(--mid-tone));
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: all 0.3s ease;
}
#headerBar.cornered .title {
    font-size: 2em;
    margin-top: 0px;
    transform: translateX(0);
    left: 10px;
}
#headerBar.cornered .subTitle {
    opacity: 1;
}
#headerBarSpacer { height: 115px; width: 100%; }
#headerBarExtraSpacer { height: 50px; width: 100%; }
#navBarSpacer { height: 85px; width: 100%; }
#navBar {
    position: fixed;
    bottom: 12px;
    left: 0;
    margin-left: 50%;
    width: calc(100% - 70px);
    transform: translateX(-50%);
    height: 60px;
    overflow: hidden;
    background-color: var(--light-tone);
    border: 6px solid var(--mid-tone);
    display: flex;
    border-radius: 70px;
    z-index: 3;
}
#navBar .navBtn {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 5px;
    cursor: pointer;
    position: relative;
    color: var(--dark-tone);
}
#navBar .navBtn.active {
    background-color: var(--dark-tone);
    color: var(--light-tone);
}
#navBar .navBtn .navImg {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    image-rendering: pixelated;
    filter: var(--filter-mid-tone);
}
#navBar .navBtn.active .navImg {
    filter: var(--filter-light-tone);
}
#navbarGrad {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to top, var(--light-tone), transparent);
    z-index: 2;
}
/* End Navbar */

.overloaderDimmer {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    z-index: 99999999999;
}
.overLoader {
    position: absolute;
    top: calc(50% - 30px);
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.overLoader .loader {
    perspective: 1000px;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    color: var(--light-tone);
}
.overLoader .loader:before,
.overLoader .loader:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    border-radius: 50%;
    transform: rotateX(70deg);
    animation: 1s overLoader-spin linear infinite;
}
.overLoader .loader:after {
    color: var(--dark-tone);
    transform: rotateY(70deg);
    animation-delay: .4s;
}

@keyframes overLoader-spin {

    0%,
    100% {
        box-shadow: .2em 0px 0 0px currentcolor;
    }

    12% {
        box-shadow: .2em .2em 0 0 currentcolor;
    }

    25% {
        box-shadow: 0 .2em 0 0px currentcolor;
    }

    37% {
        box-shadow: -.2em .2em 0 0 currentcolor;
    }

    50% {
        box-shadow: -.2em 0 0 0 currentcolor;
    }

    62% {
        box-shadow: -.2em -.2em 0 0 currentcolor;
    }

    75% {
        box-shadow: 0px -.2em 0 0 currentcolor;
    }

    87% {
        box-shadow: .2em -.2em 0 0 currentcolor;
    }
}

.wordVariationsHelper::after {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA1MTIgNTEyIj48cGF0aCBkPSJNMzIwIDBjLTE3LjcgMC0zMiAxNC4zLTMyIDMyczE0LjMgMzIgMzIgMzJoODIuN0wyMDEuNCAyNjUuNGMtMTIuNSAxMi41LTEyLjUgMzIuOCAwIDQ1LjNzMzIuOCAxMi41IDQ1LjMgMEw0NDggMTA5LjNWMTkyYzAgMTcuNyAxNC4zIDMyIDMyIDMyczMyLTE0LjMgMzItMzJWMzJjMC0xNy43LTE0LjMtMzItMzItMzJIMzIwek04MCAzMkMzNS44IDMyIDAgNjcuOCAwIDExMlY0MzJjMCA0NC4yIDM1LjggODAgODAgODBINDAwYzQ0LjIgMCA4MC0zNS44IDgwLTgwVjMyMGMwLTE3LjctMTQuMy0zMi0zMi0zMnMtMzIgMTQuMy0zMiAzMlY0MzJjMCA4LjgtNy4yIDE2LTE2IDE2SDgwYy04LjggMC0xNi03LjItMTYtMTZWMTEyYzAtOC44IDcuMi0xNiAxNi0xNkgxOTJjMTcuNyAwIDMyLTE0LjMgMzItMzJzLTE0LjMtMzItMzItMzJIODB6Ii8+PC9zdmc+');
    background-repeat: no-repeat;
    filter: var(--filter-mid-tone);
    background-size: 17px;
    content: '';
    display: inline-block;
    width: 17px;
    height: 17px;
    transform: translate(2px, 4px);
}

.centerBigBoxesContainer {
    position: relative;
    width: calc(100vw - 60px);
    margin: 10px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: calc(100vh - 150px);
}
.centerBigBox {
    flex: 1;
    background-position: center;
    background-size: cover;
    background-color: var(--white);
    border-radius: 20px;
    border: 7px solid var(--dark-tone);
    overflow: hidden;
}
.tileBoxesContainer {
    width: calc(100% - 60px);
    margin: 0px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.tileBox {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc(33.333% - 18px);
    margin: 10px 4px;
    background-position: center;
    background-size: cover;
    border-radius: 17px;
    border: 5px solid var(--dark-tone);
    display: relative;
    overflow: hidden;
    cursor: pointer;
    user-select: none;
}
.tileResults {
    width: 100%;
    display: flex;
    margin-bottom: -20px;
    flex-direction: column;
    align-items: center;
    color: var(--light-tone);
    font-size: 20px;
    background-color: rgba(0,0,0, 0.1);
    box-shadow: 0px 50px rgba(0,0,0, 0.1);
    opacity: 1;
    color: var(--white);
    transition: opacity 0.1s ease;
}
.tileResults span:first-child {
    font-size: 60px;
    opacity: 0.8;
    -webkit-text-stroke: 1px var(--dark-tone);
}
.tileResults span:last-child {
    font-size: 16px;
    opacity: 0.8;
    transform: translateY(-10px);
}
.tileBottom {
    background: linear-gradient(to top, var(--white) 30%,transparent 100%);
    color: var(--mid-tone);
    position: relative;
    width: 100%;
    vertical-align: bottom;
    font-size: 14px;
    height: 50px;
}
.tileBox.isTalk .tileBottom {
    background: linear-gradient(to top, var(--white) 70%,transparent 100%);
    overflow: hidden;
}
.tileBottom span {
    position: absolute;
    bottom: 3px;
    left: 0;
    width: 100%;
    text-align: center;
}
.tileBox.isTalk .tileBottom span {
    top: 15px;
    bottom: unset;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.dialPopupBox .dial-container .dial {
    border: 7px solid var(--dark-tone);
}
.inputBubble {
    border-radius: 20px;
    border: 3px solid var(--dark-tone);
    color: var(--mid-tone);
    padding: 5px 10px;
    text-align: center;
    margin-top: 4px;
    font-family: Electrum-Exp;
}
.toggle {
    width: 75px;
    display: flex;
    padding: 0 !important;
    overflow: hidden;
}
.toggle div {
    flex: 1;
    padding: 5px;
    cursor: pointer;
}
.toggle div.active {
    background-color: var(--mid-tone);
    color: var(--white);
}
#tilePageParent {
    width: 100%;
    max-width: 550px;
    margin: auto;
}
#searchInputParent {
    width: 100%;
    position: fixed;
    left: 0;
    top: 105px;
    z-index: 2;
}
#searchInput {
    border-radius: 50px;
    border: 3px solid var(--dark-tone);
    color: var(--mid-tone);
    font-family: Electrum-Exp;
    font-size: 20px;
    padding: 5px 0px 5px 40px;
    text-align: left;
    width: calc(100% - 75px);
    margin: 0px 15px 15px 15px;
    text-decoration: none;
    position: relative;
    z-index: 3;
}
#searchIcon {
    position: absolute;
    top: 10px;
    pointer-events: none;
    left: 30px;
    content: url('https://www.svgrepo.com/show/513607/search.svg');
    filter: var(--filter-dark-tone);
    width: 20px;
    height: auto;
    display: inline-block;
    z-index: 4;
}
#searchGrad {
    position: fixed;
    left: 0;
    width: 100%;
    height: 90px;
    background: linear-gradient(to bottom, var(--light-tone), transparent);
    z-index: 2;
    transform: translateY(-20px);
    pointer-events: none;
}

/* Desktop styles */
@media screen and (min-width: 800px) {
    #headerBar {
        font-size: 17px;
        padding: 8px 18px;
        border-width: 10px;
        width: calc(100% - 36px);
    }
    #navBar {
        height: 70px;
        width: 395px;
        font-size: 17px;
        border-width: 5px;
        top: 7px !important;
        margin-left: unset;
        position: absolute;
        left: unset;
        right: 30px;
        border: none;
        border-radius: 18px;
        transform: unset;
        background-color: var(--dark-tone);
    }
    #navBar .navBtn {
        color: var(--light-tone);
        padding: 8px 10px;
    }
    #navBar .navBtn.active {
        background-color: var(--light-tone);
        color: var(--dark-tone);
    }
    #navBar .navBtn .navImg {
        filter: var(--filter-light-tone);
    }
    #navBar .navBtn.active .navImg {
        filter: var(--filter-dark-tone);
    }
    #navbarGrad {
        display: none;
    }
    .centerBigBoxesContainer {
        margin-top: 80px;
        height: calc(100vh - 280px);
        flex-direction: row;
    }
    .centerBigBoxesContainer a {
        flex: 1;
        padding: 50px;
    }
    #tilePageParent {
        max-width: 950px;
    }
    .centerBigBox {
        border-width: 8px;
        border-radius: 30px;
    }
    /* .centerBigBox div:first-child {
        height: 180px !important;
    } */
    .tileBox {
        flex-basis: calc(20% - 46px);
        margin: 15px;
        border-width: 8px;
        border-radius: 30px;
    }
    .tileResults span:first-child {
        font-size: 90px;
        -webkit-text-stroke-width: 1.5px;
    }
    .tileResults span:last-child {
        font-size: 25px;
    }
    .tileBottom {
        height: 60px !important;
        font-size: 23px !important;
    }
    .tileBox.isTalk .tileBottom span {
        top: 17px;
        font-size: 18px !important;
    }
    #searchInputParent {
        top: 105px;
        width: 70%;
        transform: translateX(20%);
    }
    #searchInput {
        font-size: 25px !important;
        padding-left: 45px;
    }
    #searchIcon {
        width: 25px;
    }
    #searchInputParent #searchGrad {
        transform: translateY(-13px) scaleX(1.5);
    }
}